html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 3em;
}

header{
  background-color: rgb(123, 166, 67);
  color: white;
  margin-top: auto;
}

footer{
  background-color: rgb(123, 166, 67);
  color: white;
  padding: 2em;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

/* .dataTable, .dataTable th, .dataTable td {
  border: 1px solid gray;
} */
.dataTable {
  /* border-spacing: 15px; */
  border-collapse: collapse;
  width: 1000px;
  margin: auto;
}
.dataTable th, .dataTable td {
  padding: 20px;
}
.dataTable th {
  background-color: rgb(123, 166, 67);;
  color: white;
}
.dataTable tfoot td {
  background-color: #eee;
}
/* :nth-child - pseudo-class */
.dataTable tbody tr:nth-child(even) {
  background-color: #ccc;
}
.dataTable tbody tr:hover {
  cursor: pointer;
  background-color: #666;
  color: white;   
}
/* .topMenu .router-link-active {
background-color: rgb(20, 92, 20);
color: white;
} */